/*

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */




/* Typography */
ul, li,div{
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
  color:#119A2C
}

input,label,a,body,p{

  color: #0f0bff;
}
.shadow{

    height: 100px;
    border-top: 3px solid #010507;
    border-bottom: 1px solid #010507;
}
.home
{
    margin-left: 20px;
    font-weight: 400;
}
a.logo
{
    font-size: 25px;
    margin-left: -20px;
    font-family: 'Chango', cursive;
}
.linkis
{
    margin-left: -80px;  
    font-size: 15px;
}
.links
{
    
     font-weight: 400;

}
.somos
{
    margin-left: -50px;
}
.dropdown
{
    margin-left: -70px;
}
.linkuno
{
    margin-left: -80px;
}
.linkdos
{
    margin-left: 35px;
    margin-top: -44px;

}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
  color: #000;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color:red !important;}
.text-muted { color:  rgb(190, 14, 182)  !important;}
.text-success { color:  #212529  !important;}
.text-light { color: #114C9A !important;}
.bg-dark { background-color:  #DAF7A6  !important;}
.bg-light { background-color: #DAF7A6  !important;}
.bg-black { background-color:  #DAF7A6  !important;}
.bg-success { background-color:  #DAF7A6  !important;}
.btn-success {
  background-color:red !important;
  border-color:red !important;
}
.pagination .page-link:hover {color:mediumblue;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: pink;
  color:red
}
/* Nav */
#templatemo_nav_top { min-height: 40px;}
#templatemo_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a { color: red }
#templatemo_main_nav a:hover { color:blue;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
@media (max-width: 700px) {
  a.logo {
    font-size: 30px;
    margin-left: -10px;
    margin-top:-150px;
  }
}
@media (max-width: 700px) 
{
    .home
{
    margin-left: 70px;
    margin-top: -40px;
    font-size: 18px;
} 
}
@media (max-width: 700px) 
{
    .somos
{
    margin-left: -5px;
    margin-top: -5px;
    font-size: 18px;
} 
}
@media (max-width: 700px) 
{
    .dropdown-toggle
{
    width: 80px;
    height: 40px;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 10px;
} 
}
@media (max-width: 700px) 
{
    .shadow
{
    margin-bottom: 50px;
    height: 250px;
    
} 
}
@media (max-width: 700px) 
{
    .contacto
{
    margin-left: 70px;
    margin-top: 5px;
    
} 
}
@media (max-width: 700px) 
{
    .login
{
    margin-left: -45px;
    margin-top: 40px;
    
} 
}@media (max-width: 700px) 
{
    .dropdown-menu
{
    margin-bottom: 20px;
    width: 100px;
    margin-left: 200px;
    margin-top: -100px;
    
} 
}
.h2,.nosotros
{
    color: #F122C1;
    font-weight: 600;
    font-family: 'Chango', cursive;
}

/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #DAF7A6  !important;}
/* Accordion */
.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #119A2C}
/* Shop */
.shop-top-menu a:hover { color:  #DAF7A6  !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:midnightblue;}
.product-wap .product-color-dot.color-dot-green { background:#0f0bff;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: blue
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: blue !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}
/* Services */
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color:blue;}
.services-icon-wap:hover {background: #69bb7e;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #d63384;}
/* Footer */
#tempaltemo_footer a { color:rgb(190, 14, 182)}
#tempaltemo_footer a:hover { color: #119A2C}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #119A2C
  transition .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #119A2C
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
  
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
/*contacto*/
.formulario
{
    
    background-color: #DAF7A6 ;
    border-top: 1px solid #010507;
    border-bottom: 1px solid #010507;
    
}
.inputfff
{
    color: #010507;
    font-weight: 500;
}
.direccion
{
    margin-left: -17px;
}
